.newheader {
  //max-width: 71.43em;
  width: 100%;
}

.counterbar {
  height: 2em;
  padding: 0 10px;
  background: #eee;
}

.counter {
  margin: auto;
  line-height: 2em;
}
.counter em {
  font-weight: bold;
  font-style: normal;
  margin: 0 5px;
}

.topbar {
  height: 6em;
  padding: 10px 0;
  background: #fff;
  margin: auto;
}

.com-nav {
  background: #2f995c;
}